.idea

###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> webhook ###

# dependencies
/webhook/node_modules
/webhook/.pnp
/webhook.pnp.js

# testing
/webhook/coverage

# next.js
/webhook/.next/
/webhook/out/

# production
/webhook/build

# misc
/webhook.DS_Store
/webhook*.pem

# debug
/webhook/npm-debug.log*
/webhook/yarn-debug.log*
/webhook/yarn-error.log*
/webhook/.pnpm-debug.log*

# local env files
/webhook/.env.local
/webhook/.env.development.local
/webhook/.env.test.local
/webhook/.env.production.local

# vercel
/webhook/.vercel

# typescript
/webhook/*.tsbuildinfo

###< webhook ###
